.container-profiles {
//text-align: center;
vertical-align: middle;
background-color: rgba(255, 249, 192, 0.25);
margin: 0 auto;
//opacity: 0.8;
width: 550px;
//height: 500px;
//border-radius: 4px;
display: flex;
align-items: center;
flex-direction: column;
background-color:  #173F5E;
//border: solid 0.1px
color: white;

h1 {
  margin-top: 70px;
  color: white;
}
}


.card-all-profiles{
background-color: rgb(36, 66, 97);
  padding: 5px;
  width: 500px;
  border: #E8B55A 1px solid;
  border-radius: 5px;

  h4{
    //color: #E8B55A;
  }
}

.card-links-profiles {
  margin-top: 30px;
  text-align: center;
  display: felx;
  vertical-align: middle;
   a {
    color: #E8B55A;
  }
  a:hover{
    color: white;
    text-decoration: underline;
  }
}


.card-links-profiles-edit {
  margin-top: 20px;

  a {
    color: #E8B55A;
  }
  a:hover{
    color: white;
    text-decoration: underline;
  }
}

#btn-dashboard {
  //margin-top: px;
  background-color: #E8B55A;
  color: #173F5E;
  font-weight: 10%;
  border-radius: 5px;
  border: white 2px solid;
}
