@import "components/cards";
@import "components/navbar";

.wrapper-dashboard {
background-image: radial-gradient(#0f3150 0,#002 66%);
background-size: cover;
padding: 40px 50px;
min-height: calc(100vh - 75px);
}


