<%= simple_form_for([ current_user.parent, incident, side_effect_incident ], remote: true) do |form| %>
  <%= select_tag "select_side_effect", options_from_collection_for_select(@side_effect_names, "name", "name"), prompt: 'choose' %>

  <div class="effects">
  <%  @side_effect_names.each do  | side_effect_name|  %>

   <%= form.input "side_effect_id", as: :select, collection: SideEffect.where(name: side_effect_name.name).map{ |se|  [se.metric, se.id]} , placeholder: 'What were the side effects?', wrapper_html: { class: 'hide-this', id: "metric-#{side_effect_name.name}" }%>
  <% end %>
  </div>
  <%= form.button :submit %>
<% end %>
<script type="text/javascript">
  document.querySelectorAll('.hide-this').forEach( el =>  el.disabled = true )
// select input
 const currentSelection = document.getElementById('select_side_effect');

// add event listener  ---> change
  currentSelection.addEventListener("change", (event) =>{

     document.querySelectorAll('.effects .side_effect_incident_side_effect_id').forEach(el => el.classList.add('hide-this'))
    let name = 'metric-'+ event.currentTarget.value
    console.log(event.currentTarget.value);
    const currentEffect = document.getElementById(name)
    currentEffect.classList.remove('hide-this')
    currentEffect.disabled = false
    console.log(currentEffect.disabled);
    document.querySelectorAll(".hide-this select").forEach(el => {
    console.log(el)
     el.name = ""
    console.log(el)


      });

    // currentSelection.value = ''
    // currentSelection.classList.add('hide-this'
  });

</script>
