.wrapper-dashboard {
background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.3) 20%), url('home.jpg');
background-size: cover;
padding: 40px 50px;
color:white;
min-height: 100vh;
}

.wrapper-dashboard h1{
  text-align: center;
  margin-bottom:40px;
  font-weight: 200;

}

.center-dashboard {
  margin: 0 auto;
  width: 75%;
  height:70%;
}

.card-content{
  position:relative;
  bottom: 25px;
  right: -17px;
  color:white;
}

.card-content:hover{
  position:relative;
  bottom: 25px;
  right: -17px;
  color:white;
  text-decoration: none;

}

 .image{
  //position:absolute;
  width: 50px;
  height: 50px;
  // bottom: 82px;
  // right: 476px;
 }

.block {
  background: none;
  padding: 50px;
  min-height: 200px;
}

.block.one:hover {
  text-decoration: none;
  background:rgba(27,56,81, 0.5);
}
.block.two:hover {
  text-decoration: none;
  background:rgba(27,56,81, 0.5);
}
.block.three:hover {
  text-decoration: none;
  background:rgba(27,56,81, 0.5);
}
.block.four:hover {
  text-decoration: none;
  background:rgba(27,56,81, 0.5);



}

.card-content h2 p {
  color:white;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-weight: 200;

}

.block.one {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  background-color: rgba(30,60,86, 0.8);


}

.block.two {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  background-color: rgba(27,56,81, 0.8);

}

.block.three {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  background-color: rgba(26,54,76, 0.8);

}

.block.four {

  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
  background-color: rgba(20,50,67, 0.8);
}

      @media(max-width: 1024px) {

        .wrapper-dashboard {
      background-color: $luchoblue;
      color:white;
      min-height: 100vh;
      }

      .center-dashboard {
        margin: 0 auto;
        width: 90%;
      }
      .wrapper-dashboard h1{
        text-align: center;
        margin-bottom:40px;
        font-weight: 200;

      }

      .card-content{
        position:relative;
        bottom: 25px;
        right: -17px;
      }

       .image{
        //position:absolute;
        width: 50px;
        height: 50px;
        // bottom: 82px;
        // right: 476px;
       }

      .block {
        background: none;
        padding: 50px;
        min-height: 250px;


}
        .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        font-weight: 200;
        }

        .ipad {
          margin: 10px;


         }

      .block.one {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        background-color: #1E3C56;

      }

      .block.two {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        background-color: rgb(27,56,81);

      }

      .block.three {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        background-color: rgb(26,54,76);

      }

      .block.four {

        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
        background-color: rgb(20,50,67);

      }
      }


      @media(max-width: 460px) {
      .wrapper-dashboard {
        background-color: $luchoblue;
        color:white;
        min-height: 100vh;
        }

        .wrapper-dashboard h1{
          text-align: center;
          margin-bottom:40px;
          font-weight: 200;

        }

        .center-dashboard {
        margin: 0 auto;
        width: 100%;
      }

      .card-content{
        position:relative;
        bottom: 25px;
        right: -17px;
        margin-bottom: 10px;
      }

       .image{
        // position:absolute;
        width: 50px;
        height: 50px;
        margin-top: 20px;
      }

      .block {
        background: none;
        padding: 20px;
        min-height: 250px;


      }
        .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        font-weight: 200;
      }

      .iphone {
        margin: 10px;

      }

      .block.one {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        background-color: #1E3C56;

      }

      .block.two {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        background-color: rgb(27,56,81);

      }

      .block.three {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        background-color: rgb(26,54,76);

      }

      .block.four {

        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
        background-color: rgb(20,50,67);

      }
      }

