<h1>show</h1>
  <div class="row">
    <div class="col-xs-12">
      <%= render "side_effect_incidents/form", incident: @incident, side_effect_incident: @side_effect_incident %>
    </div>
  </div>
<div id="side_effect_incidents">
  <div class="row">
    <div class="col-xs-12">
      <h3>Side:effects:</h3>
      <% if @incident.side_effect_incidents.empty? %>
        <p>Choose a side effect</p>
      <% else %>
        <ul class="list-group">
          <% @incident.side_effect_incidents.each do |side_effect_incident| %>
          <%= side_effect_incident.side_effect.name %>
          <%= f.input :side_effect, as: :select, collection: [side_effect_incident.side_effect.mild, placeholder: 'What were the side effects?' %>

            <li>
             </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
