<div class="banner">
<h1> Welcome on The Lucho App</h1>
<h2>Be in control, for your happy and healthy child </h2>


<% if user_signed_in? %>
<%= link_to parent_dashboard_path(current_user.parent) do %>
    <button class="home">Discover</button>
    <%end %>
    <% else %>
    <%= link_to user_session_path do%>
    <button class="home">Discover</button>
    <%end %>

  <% end %>
</div>
