<div class="footer">
  <div class="footer-links">

    <a href="https://www.instagram.com/luchowithyou/"><i id="instagram" class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/LuchoWithYou/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/luchowithyou/"><i class="fab fa-linkedin"></i></a>

  </div>
  <div class="footer-copyright">

<div id="web" class="footer-web">
<a href="https://www.luchowithyou.com/"><strong>Click to go Lucho's website</strong> </a>
</div>
  </div>
</div>
