<div class="footer">
  <div class="footer-links">

    <a href="https://www.instagram.com/luchowithyou/"><i id="instagram" class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/LuchoWithYou/"><i id="facebook" class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/luchowithyou/"><i id="linkedin" class="fab fa-linkedin"></i></a>

  </div>
  <div class="footer-copyright">

<div class="footer-web">
<a href="https://www.luchowithyou.com/" id="web">Lucho</a>
</div>
  </div>
</div>
