<div class="container-logsign">
<h2>Welcome! Create your Kids profil</h2>
<div class="card-all-info">
<div class="card-info">

 <%= simple_form_for[@parent, @child] do |f| %>

   <div class="form-inputs">
    <%= f.input :first_name, :last_name, :gender, :date_of_birth, :type_of_cancer, :stage_of_cancer, :first_time_patient, :date_treatment_begin, :hospital_name, :doctor_name, :school, :biggest_dream, :medications, required: true, autofocus: true %>
   </div>
</div>
<div class="form-actions">
    <%= f.button :submit, "Done",  id: "btn"  %>
  </div>
  <% end %>
</div>
</div>
<!-- t.string "first_name"
    t.string "last_name"
    t.string "gender"
    t.date "date_of_birth"
    t.string "type_of_cancer"
    t.integer "stage_of_cancer"
    t.boolean "first_time_patient"
    t.date "date_treatment_begin"
    t.string "hospital_name"
    t.string "doctor_name"
    t.boolean "school"
    t.text "biggest_dream"
    t.text "medications"
    t.bigint "parent_id" -->
