.banner {
  background-image:linear-gradient(-225deg, rgba(62, 60, 59, 0.4) 29%, rgba(62, 60, 59, 0.3) 66%), url("fb-13.jpg");
  background-size: cover;
  height: calc(100vh - 75px);
  display: flex;
  height: 100vh;

  //align-items: center;
  // justify-content: center;
  // position:relative;
  // flex-direction: column;
 }

.cardlanding {
   // display: flex;


  margin-left: 5%;
  position:relative;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.5);
  font-size: 45px;
  font-weight: 300;
  position: absolute;
  margin-top: 12%;
  top: 250px;


  h1 {
    color: white;
    font-size: 45px;
    font-weight: 500;
  }

  h2 {
    margin-top: 5%;
    color: white;
    font-size: 22px;
  }


}
.cardbuttonhome {
  position:relative;
  align-items: center;
  justify-content: center;
  position:relative;

}


button.home {

  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-top:20px;
  background:$luchoblue;
  color:white;
  font-size: thin;
  border:none;
  //position:relative;
  height:50px;
  font-size:20px;
  padding:0 1em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  font-weight: 400;
  width: 300px;
  border-radius: 5px;

}

button.home {
 //background:rgb(142, 194, 191);
 background:$luchoyellow;
 color: $luchoblue;
}

button.home:hover{
  background: $luchoyellow;
  //color:rgb(142, 194, 191);
  font-size: thin;
  background-color: #E8B5FF;

}

button.home:before,button.home:after{

  // content:'';

  // top:0;
  // right:0;
  // height:4px;
  // width:0;
  // background: #173F5E;
  // transition:400ms ease all;
}

button.home:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

button.home:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
