.footer {
  background-image: linear-gradient(#0F314E -89%, #001 102%);
  opacity: 0.9;
  //background:rgba(27,56,81, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 66px;
  padding: 0px 50px;
  //color: rgba(0,0,0,0.3);
  position: relative;
  bottom: 0px;


  a {
    color: $luchoblue;
      font-weight: 300;


  }
  //border-top: $luchoyellow 3px solid;
}
.footer-links  {
  display: flex;
  align-items: center;
  color: $luchoyellow;

}

#web {
  color: $luchoyellow;
  text-decoration: none;

}

#instagram {
   color: $luchoyellow;
}

#linkedin {
 color: $luchoyellow;
}

#facebook {
 color: $luchoyellow;
}
.footer-links a {
  color: $luchoyellow;
  opacity: 0.7;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  font-weight: 500;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart a {
  color: black;
}


