.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 0px 50px;
  //color: rgba(0,0,0,0.3);
  position: relative;
  bottom: 0px;


  a {
    color: $luchoblue;
      font-weight: 300;


  }
  border-top: $luchoyellow 3px solid;
}
.footer-links {
  display: flex;
  align-items: center;

}

#instagram {
  color: red;
}

.footer-links a {
  color: $luchoblue;
  opacity: 0.7;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  font-weight: 500;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart a {
  color: black;
}


