
.main-container-signin {
    display: flex;
    min-height: 100vh;
}

.container-login-image {
  background-image: url('fb-13.jpg');
  background-size: cover;
  flex: 1 1 auto;
  max-width: 80vw;
  min-width: 70vw;

}
.container-logsign {
  background: radial-gradient(#0f3150 0,#002 66%);
  flex: 0 0 30%;

}
.main-container-incident {
  margin-top: 3.5em;
    width: 80%;
    margin: 0 auto;
    display: flex;
    //flex-wrap: wrap;
  }

.container-incident-image {
  background-image: url('lucho1.png');
  background-size: cover;
  background-color: white;
  width: 100%;
  min-height:200px;

  // min-height: calc(100vh - 75px);




}
.container-incident {
  background: radial-gradient(#0f3150 0,#002 66%);


}

// .main-container-incident {
//   margin-top:3.5em;
//     width: 80%;
//     margin: 0 auto;
//     display: flex;
//     //flex-wrap: wrap;
//   }

.container-incident-image {
  background-image: url('lucho1.png');
  background-size: cover;
  background-color: white;
  width: 100%;
  min-height:200px;

  // min-height: calc(100vh - 75px);




}
.container-incident {
  background: radial-gradient(#0f3150 0,#002 66%);

  h4 {
    margin-top: 30px;
    color: white;
  }


}


.nocolmargin {
  margin: 0px;
}

.container-logsign h2 {
  font-size: 32px;
  margin-top: 110px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  font-weight: 400;
  text-align: center;
}

.form-control-label.string.optional {
  font-weight: 300;
}

.form-control-label.date.optional{
  font-weight: 300;
}

.form-control-label.text.optional{
font-weight: 300;
}



.card-all {
  //background-color: rgb(36, 66, 97);
  padding: 5px;
  //height: 400px;
}

.card-allpassword {
background-color: rgb(36, 66, 97);
  padding: 5px;
  height: 200px;
}
.card-all-info {
background-color: rgb(36, 66, 97);
  padding: 5px;
  height: 770px;
}

.card-all-info-children {
background-color: rgb(36, 66, 97);
  padding: 5px;
  //height: 1400px;
  color: white;
  h3 {
    color: white;

  }
}
.card-info {
  color: white;
  display: center;
  padding: 20px;
  //background-color: grey;
  width: 460px;
  vertical-align: 0 auto;
  border-radius: 4px;
  font-weight: 300;
}

.card-butto {
  display: flex;
    align-items: center;
    flex-direction: column;
}

.card-h4 {
  display: flex;
    align-items: center;
    flex-direction: column;

h4 {
  color: white;
}
}

#btn {
  margin-top: 10px;
  width: 100px;
  background-color: green;
  margin-bottom: 20px;
  color: white;
}


#btn-password {
  width: 350px;
  margin-top: 10px;
  background-color: green;
  margin-bottom: 20px;
  color: white;
}

#btn-edit {
  //margin-top: 10px;
  width: 100px;
  background-color: green;
  color: white
}

#btn-child {
  //margin-top: 10px;
  width: 100px;
  background-color: green;
  color: white;
  margin-bottom: -5%;
}

#btn-sideffects {
  width: 100px;
   background-color: #E8B55A;
  color: #173F5E;
  margin-bottom: -15%;
  font-weight: 10%;
  border-radius: 5px;
  border: white 2px solid;
}


.card-links {
  margin-top: 40px;
  //background-color: grey;
  color: white;

}

.card-links-edit {
   margin-top: 100px;
  //background-color: grey;
  color: white;
}

#password-request {
  margin-top: 20px;
  margin-bottom: 40px;
}

a {
  color: #E8B55A;
}

.list-group {
  color: white;
}

.side_effect_incidents {
  color: white;
}

.btn-editside:hover {
   border: 1px solid red;
 }



#btn-new {
  background-color: $luchoyellow;
  color: $luchoblue;
  border-radius: 5px;
  border: white 2px solid;
  margin-top: 10px;
  //width: 305px;
}

@media(max-width: 460px) {
.main-container-signin {
display: flex;
}

.container-logsign {
text-align: left;

vertical-align: middle;
background: radial-gradient(#0f3150 0,#002 66%);
margin: 0 auto;
//opacity: 0.8;
min-height: calc(100vh - 75px);
min-width: 460px;
//height: 500px;
//border-radius: 4px;
align-items: center;
flex-direction: column;
//background-color:  #173F5E;
font-weight: 300;
//border: solid 0.1px;

h2 {
  font-size: 32px;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  font-weight: 400;
}
}
.form-control-label.string.optional {
  font-weight: 300;
}

.form-control-label.date.optional{
  font-weight: 300;
}

.form-control-label.text.optional{
font-weight: 300;
}



.card-all {
  //background-color: rgb(36, 66, 97);
  padding: 5px;
  //height: 400px;
}

.card-allpassword {
//background-color: rgb(36, 66, 97);
  padding: 5px;
  height: 200px;
}
.card-all-info {
//background-color: rgb(36, 66, 97);
  padding: 5px;
  height: 770px;
}

.card-all-info-children {
//background-color: rgb(36, 66, 97);
  padding: 5px;
  //height: 1400px;
  color: white;
  h3 {
    color: white;

  }
}

  .card-all-info-incidents {
    display: flex;
    align-items: center;
    flex-direction: column;
     padding: 5px;
  //height: 1400px;

  color: white;
  h3 {
    color: white;

  }
}


.card-effects{
  display: flex;
align-items: center;
flex-direction: column;
}
.card-info {
  color: white;
  display: center;
  padding: 20px;
  //background-color: grey;
  width: 500px;
  vertical-align: 0 auto;
  border-radius: 4px;
  font-weight: 300;
}

#btn {
  margin-top: 10px;
  width: 100px;
  background-color: green;
  margin-bottom: 20px;
  color: white;
}


#btn-password {
  width: 350px;
  margin-top: 10px;
  background-color: green;
  margin-bottom: 20px;
  color: white;
}

#btn-editinstance {
  width: 305px;
  margin-top: 10px;
  background-color: $luchoyellow;
  color: $luchoblue;
  border-radius: 5px;
  border: white 2px solid;

}

#btn-edit {
  //margin-top: 10px;
  width: 100px;
  background-color: green;
  color: white;

}

#btn-child {
  //margin-top: 10px;
  width: 100px;
  background-color: green;
  color: white;
  margin-bottom: -5%;
}

#btn-sideffects {
  width: 100px;
  background-color: #E8B55A;
  color: #173F5E;

  margin-bottom: -35%;
  font-weight: 10%;
  border-radius: 5px;
  border: white 2px solid;
}


.card-links {
  margin-top: 50px;
  //background-color: grey;
  color: white;

}

.card-links-edit {
   margin-top: 100px;
  //background-color: grey;
  color: white;
}

.card-btn-sideffects {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#password-request {
  margin-top: 20px;
  margin-bottom: 40px;
}

a {
  color: #E8B55A;
}

.list-group {
  color: white;
}

.side_effect_incidents {
  color: white;
}

.btn-editside:hover {
   border: 1px solid red;

}

#select_side_effect {
  color: black;
}
}

#new_side_effect_incident {
   display: flex;
    align-items: center;
    flex-direction: column;
}

#seff {
  display: flex;
    align-items: center;
    flex-direction: column;
}

.card-text {

  display: flex;
    align-items: center;
    flex-direction: column;
    h3 {
      color: white;
    }
}

#seff li {
  color: white;
}
