.container-logsign {
text-align: left;

vertical-align: middle;
background: radial-gradient(#0f3150 0,#002 66%);
margin: 0 auto;
//opacity: 0.8;
min-height: calc(100vh - 75px);
width: 550px;
//height: 500px;
//border-radius: 4px;
display: flex;
align-items: center;
flex-direction: column;
//background-color:  #173F5E;
font-weight: 300;
//border: solid 0.1px;

h2 {
  font-size: 32px;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  font-weight: 400;
}
}
.form-control-label.string.optional {
  font-weight: 300;
}

.form-control-label.date.optional{
  font-weight: 300;
}

.form-control-label.text.optional{
font-weight: 300;
}



.card-all {
  //background-color: rgb(36, 66, 97);
  padding: 5px;
  //height: 400px;
}

.card-allpassword {
background-color: rgb(36, 66, 97);
  padding: 5px;
  height: 200px;
}
.card-all-info {
background-color: rgb(36, 66, 97);
  padding: 5px;
  height: 770px;
}

.card-all-info-children {
background-color: rgb(36, 66, 97);
  padding: 5px;
  //height: 1400px;
  color: white;
  h3 {
    color: white;

  }
}
.card-info {
  color: white;
  display: center;
  padding: 20px;
  //background-color: grey;
  width: 500px;
  vertical-align: 0 auto;
  border-radius: 4px;
  font-weight: 300;
}

#btn {
  margin-top: 10px;
  width: 100px;
  background-color: green;
  margin-bottom: 20px;
  color: white;
}


#btn-password {
  width: 350px;
  margin-top: 10px;
  background-color: green;
  margin-bottom: 20px;
  color: white;
}

#btn-edit {
  //margin-top: 10px;
  width: 100px;
  background-color: green;
  color: white
}

#btn-child {
  //margin-top: 10px;
  width: 100px;
  background-color: green;
  color: white;
  margin-bottom: -5%;
}

#btn-sideffects {
  width: 100px;
   background-color: #E8B55A;
  color: #173F5E;
  margin-bottom: -15%;
  font-weight: 10%;
  border-radius: 5px;
  border: white 2px solid;
}


.card-links {
  margin-top: 50px;
  //background-color: grey;
  color: white;

}

.card-links-edit {
   margin-top: 100px;
  //background-color: grey;
  color: white;
}

#password-request {
  margin-top: 20px;
  margin-bottom: 40px;
}

a {
  color: #E8B55A;
}

.list-group {
  color: white;
}

.side_effect_incidents {
  color: white;
}

.btn-editside:hover{
   border: 1px solid red;


}
