.container-logsign {
text-align: center;

vertical-align: middle;
background-color: rgba(255, 249, 192, 0.25);
margin: 0 auto;
//opacity: 0.8;
width: 550px;
//height: 500px;
//border-radius: 4px;
display: flex;
align-items: center;
flex-direction: column;
background-color:  #173F5E;
//border: solid 0.1px;

h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  color: white;
}
}

.card-all {
  background-color: rgb(36, 66, 97);
  padding: 5px;
  height: 400px;
}

.card-allpassword {
background-color: rgb(36, 66, 97);
  padding: 5px;
  height: 200px;
}

.card-info {
  color: white;
  display: center;
  padding: 20px;
  //background-color: grey;
  width: 500px;
  vertical-align: 0 auto;
  border-radius: 4px;
}

#btn {
  margin-top: 10px;
  width: 100px;
  background-color: green;
  margin-bottom: 20px;
  color: white;
}


#btn-password {
  width: 350px;
  margin-top: 10px;
  background-color: green;
  margin-bottom: 20px;
  color: white;
}

#btn-edit {
  //margin-top: 10px;
  width: 100px;
  background-color: green;
  color: white
}


.card-links {
  margin-top: 50px;
  //background-color: grey;
  color: white;

}

.card-links-edit {
   margin-top: 100px;
  //background-color: grey;
  color: white;
}

#password-request {
  margin-top: 20px;
  margin-bottom: 40px;
}

